/* Import Google fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300&family=Varela+Round&display=swap');

/* Global style */

body {
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    color: #3a3a3a; 
    background-color: #fcfcfc;
}

/* Headings, header and logo style */ 

h1, h2, h3 {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}

#header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#header-title {
    width: 50%;
    text-align: center;
    font-size: 90%;
}

#header-title a {
    text-decoration: none;
    color: #3a3a3a;
}

.header-icon {
    font-size: 160%;
}

/* Tab style */

#tab-container {
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-tab {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tab-links {
    background-color: #E3F5FF;
    color: #3a3a3a;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;

    font-size: 150%;
    font-weight: 400;
}

.tab-active, .tab-links:hover {
    background-color: #7ed0fc;
}

.tab-links:after {
    content: '\02795'; 
    font-size: 13px;
    color: #3a3a3a;
    float: right;
    padding-top: 5px;
}

.tab-active:after {
    content: "\2796"; 
}

.tab-content {
    background-color: white;
    max-width: 90%;
    max-height: 0;
    margin: 0 auto;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: center;
  }

.tab-content ul, ol {
    list-style-type: none;
}

.tab-content li {
    padding-right: 50px;
}

/* Main container style */ 

#main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main image and start button style */ 

#main-center {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#image-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#main-image {
    max-width: 60%;
    height: auto;
}

/* Start area style */ 

#start {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-text { 
    text-align: center;
    font-size: 200%;
}

#start-btn {
    font-size: 400%;
    font-weight: 300;

    background-color: var(--start-light);
    border: 3px solid var(--start-bright);
    border-radius: 30%;

    padding: 20px 25px; 
    cursor: pointer;
}

/* Add animation for start button hover */ 

@keyframes start-shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

#start-btn:hover {
    background-color: var(--start-bright);
    border: 3px solid var(--start-light);
    animation: start-shake 0.5s linear 0s infinite;
}

/* Results section style */ 

#display-results {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 120%;
}

#display-results-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.display-choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.display-choices p {
    font-size: 150%;
}

.result-button {
    border: none;
    background-color: #fcfcfc;
}

#display-results-text {
    text-align: center;
}

/* Restart button style */ 

#play-again {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#restart-btn {
    font-size: 200%;
    font-weight: 300;

    background-color: var(--start-light);
    border: 3px solid var(--start-bright);
    border-radius: 30%;

    padding: 20px 25px; 
}

/* Add animation for "play again"" button hover */ 

@keyframes restart-shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

#restart-btn:hover {
    background-color: var(--start-bright);
    border: 3px solid var(--start-light);
    animation: start-shake 0.5s linear 0s infinite;
}

/* Game area style */

.score-section {
    font-size: 120%;
    width: 100%;
    text-align: center;
}

.game-content {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    text-align: center;
    padding: 0px 5px;
}

.game-content ul {
    list-style-type: none;
    padding: 0px;
}

/* Game button colours */

:root {
    --rock-light: #F6D6FF;
    --paper-light: #FEF6D4;
    --scissors-light: #FFD6D6;
    --lizard-light: #D8F3D8;
    --spock-light: #D5E5FF; 
    --start-light: #E9D4FC; 

    --rock-bright: #E480FF; 
    --paper-bright: #FEDD5F; 
    --scissors-bright: #FF8080; 
    --lizard-bright: #89DC8B; 
    --spock-bright: #81B2FA; 
    --start-bright: #C489FF; 
}

.rock {
    background-color: var(--rock-light);
    border: 3px solid var(--rock-bright);
}

.rock:hover {
    background-color: var(--rock-bright);
    border: 3px solid var(--rock-light);
}

#rock, #computer-rock {
    animation: blinkRock 1s infinite;
}

@keyframes blinkRock {
    20%  { background-color: var(--rock-bright); border-color: var(--rock-light); }
    40%  { background-color: var(--rock-light); border-color: var(--rock-bright); }
    60%  { background-color: var(--rock-light); border-color: var(--rock-bright); }
    80%  { background-color: var(--rock-light); border-color: var(--rock-bright); }
    100% { background-color: var(--rock-light); border-color: var(--rock-bright); }
}

.paper {
    background-color: var(--paper-light);
    border: 3px solid var(--paper-bright);
    position: relative;
    top: -70px;
}

#paper, #computer-paper {
    animation: blinkPaper 1s infinite;
}

@keyframes blinkPaper {
    20%  { background-color: var(--paper-light); border-color: var(--paper-bright); }
    40%  { background-color: var(--paper-bright); border-color: var(--paper-light); }
    60%  { background-color: var(--paper-light); border-color: var(--paper-bright); }
    80%  { background-color: var(--paper-light); border-color: var(--paper-bright); }
    100% { background-color: var(--paper-light); border-color: var(--paper-bright); }
}

.paper:hover {
    background-color: var(--paper-bright);
    border: 3px solid var(--paper-light);
}

.paper-result {
    background-color: var(--paper-light);
    border: 3px solid var(--paper-bright);
}

.paper-result:hover {
    background-color: var(--paper-bright);
    border: 3px solid var(--paper-light);
}

.scissors {
    background-color: var(--scissors-light);
    border: 3px solid var(--scissors-bright);
}

#scissors, #computer-scissors {
    animation: blinkScissors 1s infinite;
}

@keyframes blinkScissors {
    20%  { background-color: var(--scissors-light); border-color: var(--scissors-bright); }
    40%  { background-color: var(--scissors-light); border-color: var(--scissors-bright); }
    60%  { background-color: var(--scissors-bright); border-color: var(--scissors-light); }
    80%  { background-color: var(--scissors-light); border-color: var(--scissors-bright); }
    100% { background-color: var(--scissors-light); border-color: var(--scissors-bright); }
}

.scissors:hover {
    background-color: var(--scissors-bright);
    border: 3px solid var(--scissors-light);
}

.lizard {
    background-color: var(--lizard-light);
    border: 3px solid var(--lizard-bright);
}

#lizard, #computer-lizard {
    animation: blinkLizard 1s infinite;
}

@keyframes blinkLizard {
    20%  { background-color: var(--lizard-light); border-color: var(--lizard-bright); }
    40%  { background-color: var(--lizard-light); border-color: var(--lizard-bright); }
    60%  { background-color: var(--lizard-light); border-color: var(--lizard-bright); }
    80%  { background-color: var(--lizard-bright); border-color: var(--lizard-light); }
    100% { background-color: var(--lizard-light); border-color: var(--lizard-bright); }
}

.lizard:hover {
    background-color: var(--lizard-bright);
    border: 3px solid var(--lizard-light);
}

.spock {
    background-color: var(--spock-light);
    border: 3px solid var(--spock-bright);
}

#spock, #computer-spock {
    animation: blinkSpock 1s infinite;
}

@keyframes blinkSpock {
    20%  { background-color: var(--spock-light); border-color: var(--spock-bright); }
    40%  { background-color: var(--spock-light); border-color: var(--spock-bright); }
    60%  { background-color: var(--spock-light); border-color: var(--spock-bright); }
    80%  { background-color: var(--spock-light); border-color: var(--spock-bright); }
    100% { background-color: var(--spock-bright); border-color: var(--spock-light); }
}

.spock:hover {
    background-color: var(--spock-bright);
    border: 3px solid var(--spock-light);
}

/* Game button style */ 

button {
    font-family: "Outfit", sans-serif;
}

.game-choices {
    width: 470px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 85px 0px 20px 0px;

    border-radius: 10%;
    background-color: #e3f5ff;
}

.game-icon {
    width: 120px;
    height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 150%;
    text-align: center;
 
    box-shadow:  -6px -20px 35px #ffffff, -6px -10px 15px #ffffff, -20px 0px 30px #ffffff, 6px 20px 25px rgba(0,0,0,0.2);
    transition: .13s ease-in-out;
    outline:none;
    cursor: pointer;

    padding: 25px 20px;
    border-radius: 50%;
}

.game-icon:active {
    box-shadow: none;
}

/* Previous results style */

#previous-results-button {
    display: flex;
    align-items: center;
}

#results-btn {
    font-size: 100%;
    font-weight: 300;
    background-color: var(--start-light);
    border: 3px solid var(--start-bright);
    border-radius: 30%;
    padding: 20px 25px; 
    cursor: pointer;
}

@keyframes results-shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

#results-btn:hover {
    background-color: var(--start-bright);
    border: 3px solid var(--start-light);
    animation: results-shake 0.5s linear 0s infinite;
}

#previous-results {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

#previous-results h3 {
    font-size: 120%;
}

#previous-results-table {
    display: none;
    flex-direction: column;
}

th, td {
    padding: 0 30px;
    text-align: center;
    font-size: 120%;
}

.result-icon {
    width: 70px;
    height: 60px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: 80%;
    text-align: center;
    
    padding: 25px 20px;
    border-radius: 50%;
}

/* Footer style */ 

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
}

#social-media {
    display: flex;
}

#social-media li {
    list-style-type: none;
    padding: 0 50px;
}

#social-media a {
    color: #3a3a3a;
}

/* Media queries */ 

/* For larger to medium screens from 1385px and down */ 

@media screen and (max-width: 1385px) {

    .tab-content {
        max-width: 100%;
    }
    
    .game-content {
        width: 35%;
    }

    #main-center {
        width: 30%;
    }

    .display-choices p {
        font-size: 80%;
    }

}

/* For larger to medium screens from 1260px and down */

@media screen and (max-width: 1260px) {

    #start-btn {
        font-size: 300%;
    }

    #main-container {
        height: auto;
        flex-direction: column;
    }

    .game-content {
        width: 100%;
    }

    .game-choices {
        height: auto;
        width: 80%;
        padding: 10px;
        flex-direction: row;
    }

    .paper {
        top: 0;
    }

    #main-center { 
        width: 100%;
        padding-bottom: 20px;
        justify-content: space-evenly;
    }

    #main-image {
        max-width: 150px;
        max-height: 150px;
    }

    @keyframes blinkSpock {
        20%  { background-color: var(--spock-light); border-color: var(--spock-bright); }
        40%  { background-color: var(--spock-light); border-color: var(--spock-bright); }
        60%  { background-color: var(--spock-light); border-color: var(--spock-bright); }
        80%  { background-color: var(--spock-bright); border-color: var(--spock-light); }
        100% { background-color: var(--spock-light); border-color: var(--spock-bright); }
    }

    @keyframes blinkLizard {
        20%  { background-color: var(--lizard-light); border-color: var(--lizard-bright); }
        40%  { background-color: var(--lizard-light); border-color: var(--lizard-bright); }
        60%  { background-color: var(--lizard-light); border-color: var(--lizard-bright); }
        80%  { background-color: var(--lizard-light); border-color: var(--lizard-bright); }
        100% { background-color: var(--lizard-bright); border-color: var(--lizard-light); }
    }

    #display-results {
        width: 80%; 
    }

    #previous-results {
        padding-top: 20px;
    }
}

/* For larger to medium screens from 1200px and down */ 

@media screen and (max-width: 1200px) {

    #header-container {
        flex-direction: column;
    }

    .header-content {
        width: 40%;
    }
}

/* For medium screens from 1100px and down */ 

@media screen and (max-width: 1100px) {

    #header-title {
        width: 100%;
    }
    
}

/* For small to medium screens from 880px and down */

@media screen and (max-width: 880px) {
    .choices {
        padding: 0px 25px;
    }

    @keyframes blinkSpock {
        20%  { background-color: var(--spock-light); border-color: var(--spock-bright); }
        40%  { background-color: var(--spock-light); border-color: var(--spock-bright); }
        60%  { background-color: var(--spock-light); border-color: var(--spock-bright); }
        80%  { background-color: var(--spock-light); border-color: var(--spock-bright); }
        100% { background-color: var(--spock-bright); border-color: var(--spock-light); }
    }

    @keyframes blinkLizard {
        20%  { background-color: var(--lizard-light); border-color: var(--lizard-bright); }
        40%  { background-color: var(--lizard-light); border-color: var(--lizard-bright); }
        60%  { background-color: var(--lizard-light); border-color: var(--lizard-bright); }
        80%  { background-color: var(--lizard-bright); border-color: var(--lizard-light); }
        100% { background-color: var(--lizard-light); border-color: var(--lizard-bright); }
    }
    
}

/* For small to medium screens from 750px and down */

@media screen and (max-width: 750px) {

    .game-icon {
        width: 100px;
        height: 100px;
     }

    footer {
        flex-direction: column;
    }

    #social-media {
        padding: 0;
    }
}

/* For small screens from 590px and down */

@media screen and (max-width: 650px) {

    .choices {
        padding: 0px 10px;
    }
}
